<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    <link rel="stylesheet " href="styless.css">

</head>
<body>
    <div style = "background-image: url(img/Unemi.jpg) ;"></div></style></div>
    <center> 
        <h1 id='start'>Universidad estatal de Milagro</h1>
    </center>
    <hr>
    <center>
    <h2>Trabajo Grupal</h2>
        <h3 id="one">INTEGRANTES</h3>
       <h4 id="net"><p>ANA ELVIRA AYALA LOPEZ</p>
        <p>CARLOS ANDRES BERNABE RAMOS</p>
        <P>JHON ELIAN GONZALEZ HERRERA</p>
        <p>STUART PACHECO ARTEAGA</p>
        <p>OSWALDO RODRIGUEZ LAINES</p>
        </center>
        <hr>
        <center>
        <h2 id="one">Asignatura</h2>
        <h4 id="net"<p>Estructura De Datos</p></h4>
        </center>
        <center>
            <h2 id="one">Docente</h2>
            <h4 id="net"<p>NORMA ALEXANDRA VALENCIA CASTILLO</p></h4>
        </center>

    </h4>
        
    </ul>
</body>

</html>
